/* -- Colors -- */
$subtitle-border: #F6E347;

/* Text */
$color-text: #000;

/* Nav */
$nav-text-color: #fff;

/* Sections */
$gray-section-color: #f5f5f5;

/* Links */
$color-link: #000;
$color-link-hover: #00bf9f;

/* Buttons */
$button-default-color: #363636;
$button-default-border-color: #dbdbdb;
$button-default-border-color-hover: #b5b5b5;